/*
 * Theme Customizer CSS
 *
 */

#customize-control-momentous_control_footer_text, 
#customize-control-momentous_control_installed_fonts {
	margin-top: 18px;
}
#customize-control-momentous_control_excerpt_text_headline,
#customize-control-momentous_control_postmeta_headline   {
	margin-top: 12px;
}

#customize-control-momentous_control_default_fonts,
#customize-control-momentous_control_header_content,
#customize-control-momentous_control_post_images,
#customize-control-momentous_control_excerpt_text_headline,
#customize-control-momentous_control_postmeta_headline {
	margin-bottom: 0;
}

#customize-control-momentous_control_footer_text textarea,
#customize-control-momentous_control_installed_fonts textarea {
	height: 4em;
}

#customize-control-momentous_control_upgrade div {
	margin: 4px 0 32px;
}
#customize-control-momentous_control_upgrade div .customize-control-title {
	margin-bottom: 4px;
}
